<div class="recharge-section">
  <h2>Recharge & Pay Bills on Paytm</h2>
  <div class="services-row">
    <div class="service-card" routerLink="/recharge">
      <!-- <i class="fas fa-mobile-alt"></i> -->
      <i class="fas fa-mobile-alt"></i>

      <p>Prepaid Mobile</p>
    </div>
    <div class="service-card">
      <i class="fa-solid fa-bolt"></i>
      <p>Electricity Bill</p>
    </div>
    <div class="service-card">
      <i class="fa-solid fa-tv"></i>
      <p>DTH Connection</p>
    </div>
    <div class="service-card">
      <i class="fa-solid fa-gas-pump"></i>
      <p>Gas Cylinder</p>
    </div>
    <div class="service-card">
      <i class="fa-solid fa-globe"></i>
      <p>Broadband & Landline</p>
    </div>
    <div class="service-card">
      <i class="fa-solid fa-graduation-cap"></i>
      <p>Education Fee</p>
    </div>
    <div class="service-card all-services">
      <i class="fa-solid fa-th-large"></i>
      <p>All Services</p>
    </div>
  </div>
</div>
