<header class="navbar">
  <div class="logo-container">
    <a href="#" class="logo" routerLink="/home">Paytm</a>
  </div>
  
  <nav class="navbar-links">
    <!-- Dropdown for Paytm for Consumer -->
    <div class="dropdown">
      <a href="#" class="dropbtn">
        Paytm for Consumer <i class="fas fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a href="#"><i class="fas fa-wallet"></i> Wallet</a>
        <a href="#"><i class="fas fa-sync-alt"></i> Recharge</a>
        <a href="#"><i class="fas fa-bill"></i> Pay Bills</a>
        <!-- <a href="#"><i class="fas fa-shopping-cart"></i> Shop</a> -->
        <a href="#"><i class="fas fa-history"></i> History</a>
      </div>
    </div>
    
    <div class="dropdown">
      <a href="#" class="dropbtn">
        Paytm for Business <i class="fas fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a href="#"><i class="fas fa-store"></i> Start Business</a>
        <a href="#"><i class="fas fa-chart-line"></i> Business Dashboard</a>
        <a href="#"><i class="fas fa-credit-card"></i> Payments Gateway</a>
        <a href="#"><i class="fas fa-cogs"></i> Business Solutions</a>
      </div>
    </div>
    
<div class="a">
    <!-- Simple Nav Links -->
    <a>Investor Relations</a></div>
    <div class="a">
    <a>Company</a></div>
   <div class="a"> <a>Career</a></div>
  </nav>
  
  <div class="auth-section">
    <!-- <button class="signin-btn">
    <a routerLink="/login"  ><i class="fas fa-sign-in-alt" ></i> login</a>
      
    </button>
    <div class="user-icon">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="User Avatar">
    </div> -->



<!-- 
<div class="user-container">

<ng-container *ngIf="username; else loginPrompt">

  <div class="user-icon-container">
    <div class="user-icon">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="User Avatar" />
    </div>
    <ul class="user-dropdown">
      <li><strong>{{ username }}</strong></li>
      <li>
        <a
          style="color: red; cursor: pointer;"
          (click)="logout()"
          ><i class="fas fa-sign-out-alt"></i> Logout</a
        >
      </li>
    </ul>
  </div>
</ng-container>

<ng-template #loginPrompt>
  <button class="signin-btn">
    <a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
  </button>
</ng-template>
</div> -->


  <button class="signin-btn">
    <a routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
  </button>

</div>
</header>
