<!-- <div class="user-list-container">
    <h2>Pay to Users</h2>
    <ul class="user-list">
      <li *ngFor="let user of users">
        <div class="user-card">
          <h3>{{ user.name }}</h3>
          <p>{{ user.mobile }}</p>
          <button (click)="initiatePayment(user)" class="pay-btn">Pay</button>
        </div>
      </li>
    </ul>
  </div>
  
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
  
  <div *ngIf="successMessage" class="success-message">
    <p>{{ successMessage }}</p>
  </div>
   -->